.events-container {
  background-color: #111111;

  .event-title {
    h1 {
      text-align: center;
      font-size: 40px;
      color: white;
      padding: 1em;
    }
    p {
      text-align: center;
      color: #777777;
      margin-bottom: 10px;
    }
  }

  .event-list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 95%;
    margin: 0 auto;

    .upcoming-event {
      background-color: #111111;

      .upcoming-title {
        border-bottom: 2px solid #00ce53;

        h1 {
          padding: 2em;
          color: white;
          text-align: center;
        }
      }
      .upcoming-image {
        border-radius: 30px;

        img {
          width: 90%;
          margin: 20px 0 0 0;
        }
      }
    }
    .completed-event {
      height: 100%;

      .completed-title {
        border-bottom: 2px solid #00ce53;

        h1 {
          color: white;
          padding: 2em;
          text-align: center;
        }
      }

      .completed-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          margin-top: 20px;
          height: 230px;
        }
      }
    }
  }
}
