.hero-container {
  .mx {
    .hero {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70vh;

      .background-img {
        position: relative;

        img {
          width: 90%;
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
          height: 100%;
        }
      }

      .video-container {
        .video {
          position: relative;
          height: 450px;
          width: 250px;
          border-radius: 11.5px;
          background: #0e0e0e;
          margin-right: 70px;
        }
        display: flex;
        justify-content: center;
        align-items: center;

        // overflow: initial;

        img {
          position: absolute;
          right: -25px;
          bottom: 225px;
        }
      }
      .content {
        position: absolute;
        z-index: 3;
        bottom: 80px;
        left: 80px;
        .check-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          margin-bottom: 40px;
          color: white;

          h1 {
            font-size: 40px;
          }
          p {
            font-size: 43px;
          }
        }
        .check-circle-two {
          display: flex;
          align-items: center;
          gap: 20px;

          color: white;

          h1 {
            font-size: 40px;
          }
          p {
            font-size: 43px;
          }
        }
      }
    }
  }
}
